body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}